.olympics--card {
  background: url('https://res.cloudinary.com/chopper/image/upload/v1468867423/Site%20Images/themes/olympics/honey_comb.png') no-repeat right -2rem get($olympics-colors, background); // sass-link:disabled-line no-url-protocols
  background-size: 212px 152px;
  min-height: 18rem;
  width: 28rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: box-shadow .1s ease-in-out;
  box-shadow: 0 0 0 0 atl($white, 0.05);

  @include desktop {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 .25rem .25rem atl($white, 0.05);
    }
  }

  .olympics--card-link {
    margin-top: auto;

    b {
      margin-top: auto;
      display: inline-block;
      white-space: nowrap;
    }
  }

  &.is-answered {
    &:after {
      content: '\f122';
      font-family: 'Ionicons';
      font-size: 28pt;
      position: absolute;
      top: .5rem;
      right: .5rem;
      line-height: 1em;
      color: scale-color(get($olympics-colors, background), $lightness: 80%);
      text-shadow: 0 -2pt $black;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: get($olympics-colors, backgroundTrans);
    }
  }
}

.flipster__item--past {
  .olympics--card {
    .is-answered {
      &:after {
        right: auto;
        left: 1rem;
        top: .25rem;
      }
    }
  }
}

.flipster__button {
  margin: -1rem .5rem;

  svg {
    polyline {
      stroke: $white;
    }
  }
}
