.olympics--results {
  background-color: get($olympics-colors, backgroundTrans);
  padding: 2rem 1rem;
  border-radius: .25rem;
  color: $white;
  margin-top: 2rem;
  box-shadow: 0 0 .5rem .5rem atl($white, 0.05);

  @include tablet {
    padding: 3rem 5rem;
  }

  .olympics--results-data {
    font-size: 54pt;
    font-family: 'Roboto Condensed', 'Proxima Nova', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 4rem;
  }

  .olympics--results-label {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .olympics--results-user {
    transform: translate(0, -4rem);

    .olympics--results-user-name {
      font-size: 24pt;
      font-weight: 800;
    }

    @include tablet {
      transform: translate(3rem, -3rem);
    }
  }

  .olympics--results-result {
    @extend %noselect;
    cursor: pointer;
  }

  .olympics--results-details {
    @extend %visuallyhidden;
    padding: 1rem .25rem;
  }

  .olympics--results-medal-silver {
    color: get($olympics-colors, 'silver');
  }

  .olympics--results-medal-gold {
    color: get($olympics-colors, 'gold');
  }

  .olympics--results-medal-bronze {
    color: get($olympics-colors, 'bronze');
  }
}
