.olympics {
  background: url('https://res.cloudinary.com/chopper/image/upload/v1468862799/Site%20Images/themes/olympics/sprinting-web.jpg') no-repeat right center; // sass-lint:disable-line no-url-protocols 
  background-size: cover;
  background-attachment: fixed;

  @import
  'vars',
  '../../utils/glob',
  'cards',
  'coverflow',
  'results';
}
