/* ----------- Prefixer ----------- */
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* ----------- Base ----------- */
@mixin set-background($background) {
  color: check-text-color($background);
  background: $background;
}

/* ----------- Interactive ----------- */
/* Hover States */
@mixin hover($background, $hover: $background) {
  @include set-background($background);
  transition: background .25s;
  @if $background == $hover {
    &:hover {
      @include active(dark($hover));
    }
  } @else {
    &:hover {
      @include active($hover);
    }
  }
}

@mixin active($active) {
  @include set-background($active);
  cursor: pointer;
}

// Open active state
@mixin state($state) {
  @at-root #{$state}#{&} {
    @content;
  }
}

// Layout
@mixin layout($left: auto, $right: auto, $translate: -50%) {
  margin-top: 0;
  position: absolute;
  left: $left;
  right: $right;
  top: 50%;
  transform: translateY($translate);
}

// Lighten/Darken Background
@mixin background-overlay($image: '../img/homepage-hero-img.jpg', $overlay: rgba(0, 0, 0, 0.3), $size: cover, $position: center center) {
  background: linear-gradient( $overlay, $overlay ), url($image) no-repeat;
  background-size: $size;
  background-position: $position;
}
