@mixin inputs($height: 2rem, $font-size: 12pt) {
  select {
    height: $height;
    font-size: $font-size;
  }

  textarea {
    font-size: $font-size;
  }

  $inputs-text:
  date,
  email,
  number,
  password,
  search,
  tel,
  text,
  time,
  url;

  %input {
    outline: none;
    width: 100%;
    display: block;
    font-size: $font-size;
    line-height: 1.2em;
    padding: calc( (#{$height} - #{$font-size})/2) .25em;
    border-radius: 0;
    box-shadow: none;
    height: $height;
    border: none;

    + legend {
      transform: translate(0, 1.2rem);
      padding: 0 .25em;
      line-height: 1em;
      transition: transform .25s ease-in-out;
      transform: translate(0, calc( (#{$height} - #{$font-size})/2 + 1em) );
      pointer-events: none;
      user-select: none;
      transform-origin: left middle;
    }

    &:focus + legend,
    &.has-content + legend {
      transform: translate(0, 0);
    }
  }

  @each $type in $inputs-text {
    input[type='#{$type}'] {
      @extend %input;
      .sm > & {
        padding: calc( (#{$height} - #{$font-size})/4) .25em;
        height: $height * .75;
        font-size: $font-size * .75;
      }
    }
  }

  [contenteditable='true'] {
    @extend %input;
    height: auto;
    max-height: 10rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
  }

  select {
    @extend %input;

    &:focus {
      box-shadow: 0 0 1rem rgba($black, 0.2)
    }

    + legend {
      transform: translate(0,0);
    }

    .sm & {
      height: 2rem;
      line-height: 2rem;
      border: none;
      border-bottom: solid thin lightgray;
      font-size: 10pt;

      &:focus {
        box-shadow: none;
      }

      ~ i {
        height: 2rem;
        line-height: 2rem;
      }
    }
  }
}
