$black: #000000;
$white: #ffffff;

$weights: (
  thin: 100,
  hairline: 100,
  extra-light: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  demi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);


$color-wheel: (
  yellow: #f7ec1f,
  yellow-orange: #ffd108,
  orange: #faa71a,
  red-orange: #f47c20,
  red: #ee2c24,
  red-violet: #ed2490,
  violet: #7f4098,
  blue-violet: #2e429b,
  blue: #2077bd,
  blue-green: #00b2d7,
  green: #21b24b,
  yellow-green: #85c441
);
