// sass-lint:disable no-color-keywords

$color-wheel: (
  yellow: #f7ec1f,
  yellow-orange: #ffd108,
  orange: #faa71a,
  red-orange: #f47c20,
  red: #ee2c24,
  red-violet: #ed2490,
  violet: #7f4098,
  blue-violet: #2e429b,
  blue: #2077bd,
  blue-green: #00b2d7,
  green: #21b24b,
  yellow-green: #85c441
);
