.header {
  height: get($heights, header-tablet);

  .header-logo {
    line-height: 0;
    margin: 1rem;
  }

  .header-nav {
    a {
      line-height: 1rem;
      margin: .8rem .8rem .7rem 0;
    }
  }

  .nav--submenu {
    a {
      line-height: 3rem;
      margin: 0;
    }
  }
}
