$local-shadow: #dddddd;
$local-background: #c0c0c0;

.answers {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 auto;

  @include tablet {
    margin-top: 3rem;
  }

  %answers-answer {
    margin: 0 .25rem;

    text {
      width: 4rem;
      height: 4rem;
      display: inline-block;
      text-align: center;
      border-radius: 999em;
      line-height: 3rem;
      background-color: $local-background;
      margin-top: 0;
      font-weight: 700;
      color: $white;

      &:hover {
        background-color: get($color-buttons, 'add');
        cursor: pointer;
      }

      @include tablet {
        width: 5rem;
        height: 5rem;
      }
    }

    input {
      display: none;

      &:checked + text {
        background-color: dark(get($color-buttons, 'add'), 30%);
      }
    }
  }

  .answers-answer {
    flex: 0 1 auto;
    position: relative;
    display: block;
  }

  &.is-agree-disagree {

    .answers-answer {
      @extend %answers-answer;

      text {
        font-size: 9.5pt;
        line-height: 1.1em;
        padding-top: 1.1rem;

        @include tablet {
          padding-top: 1.6rem;
        }
      }

      &:nth-of-type(2) {
        text {
          padding-top: 1.5rem;

          @include tablet {
            padding-top: 2.1rem;
          }
        }
      }
    }
  }

  &.is-rating {

    .answers-answer {
      @extend %answers-answer;

      text {
        font-size: 10pt;
        line-height: 1.1em;
        padding-top: 1.5rem;

        @include tablet {
          padding-top: 2rem;
        }
      }

      &:nth-of-type(1),
      &:nth-of-type(5) {
        text {
          padding: 1.1rem 1rem;

          @include tablet {
            padding-top: 1.6rem;
          }
        }
      }
    }
  }

  &.is-yes-no {
    .answers-answer {
      @extend %answers-answer;

      text {
        padding-top: 1rem;

        @include tablet {
          padding-top: 1.5rem;
        }
      }
    }
  }

  &.is-multi-choice {
    margin: 0 3rem;
    flex-direction: column;

    > .answers-answer {
      display: inline-block;
      margin-top: 0;
      min-width: 100%;
      color: get($color-theme, brand);

      +.answers-answer {
        margin-top: 1rem;
      }

      > input {
        display: none;

        + text {
          border-radius: 999em;
          margin-top: 0;
          height: 2rem;
          line-height: 2rem;
          padding: .1rem 1rem 0 .5rem;
          margin-left: -.5rem;
          display: inline-block;
          transition: background .1s ease-in-out, color .1s ease-in-out;
          font-weight: 600;

          &:hover {
            background-color: scale-color(get($color-theme, brand), $lightness: 30%);
            color: $white;
            cursor: pointer;
          }

          &:before {
            content: '\f21b';
            color: $white;
            font-family: 'Ionicons';
            margin-right: .75rem;
            font-size: 16pt;
            font-weight: normal;
            border-radius: 999em;
            text-shadow:
            -1px -1px 0 get($color-theme, brand),
            1px -1px 0 get($color-theme, brand),
            -1px 1px 0 get($color-theme, brand),
            1px 1px 0 get($color-theme, brand),
            0 -1px 0 get($color-theme, brand),
            1px 0 0 get($color-theme, brand),
            -1px 0 0 get($color-theme, brand),
            1px 0 0 get($color-theme, brand);
            vertical-align: middle;
          }
        }

        &:checked {
          + text {
            background-color: get($color-theme, brand);
            color: $white;

            &:before {
              font-size: 15.5pt;
              content: '\f120';
              -webkit-text-stroke-width: 0;
              -webkit-text-stroke-color: get($color-theme, brand);
            }
          }
        }
      }
    }
  }
}

.mobile {
  .answers-answer {
    &:after {
      font-size: 7.5pt;
    }
  }
}

.question {
  min-height: 9rem;
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .question-text {
    font-family: 'Roboto Condensed', 'Proxima Nova', 'Helvetica', sans-serif;
    padding: 0 .5rem;
    font-size: 18pt;

    @include tablet {
      font-family: 'Proxima Nova', 'Helvetica', sans-serif;
      margin: 0 auto;
      max-width: 66.66666666666%;
      font-size: 24pt;
    }
  }

  .question-score {
    font-weight: 700;

    &:before {
      content: 'Max Score: ';
      font-weight: 400;
    }
  }
}

.dont-know {
  @extend %noselect;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  min-width: 100%;
  width: 100%;

  .mobile & {
    margin-top: 1.5rem;
  }

  .answers-answer {
    > input {
      display: none;
    }

    > text {
      text-align: center;
      display: block;
      background: $local-background;
      height: 4rem;
      line-height: 4rem;
      font-weight: 700;
      border-radius: 9999em;
      margin: 0 auto;
      padding: 0 2rem;
      border: solid thin $local-background;
      background-color: transparent;
      color: $local-background;
      font-size: 14pt;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        background-color: get($color-buttons, 'add');
        color: $white;
      }
    }

    input {
      &:checked  {
        + text {
          background-color: get($color-buttons, 'add');
          border-color: get($color-buttons, 'add');
          color: $white;
        }
      }
    }
  }

  .mobile & text {
    font-size: 11pt;
    height: 3.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@for $i from 0 through 50 {
  .js-choice-score-#{$i} {
    position: relative;
    padding-left: 2rem;

    > text {
      color: $local-shadow;
      pointer-events: none;

      &:after {
        content: '+#{$i}';
        font-weight: bold;
        margin-right: 1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    input {
      &:checked {
        + text {
          opacity: 1;

          &:after {
            color: get($color-theme, brand);
          }
        }
      }
    }

    input {
      &:not(:checked) {
        + text {
          &:before {
            text-shadow:
            -1px -1px 0 $local-shadow,
            1px -1px 0 $local-shadow,
            -1px 1px 0 $local-shadow,
            1px 1px 0 $local-shadow,
            0 -1px 0 $local-shadow,
            1px 0 0 $local-shadow,
            -1px 0 0 $local-shadow,
            1px 0 0 $local-shadow !important; // sass-lint:disable-line no-important
          }
        }
      }
    }
  }
}
