.d3select {
  position: relative;
  box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1);
  border-radius: .1rem;
  flex-wrap: wrap;
  padding: .1rem;

  > .d3select-selected {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -.25rem;

    li {
      white-space: nowrap;
      display: inline-block;
      margin-right: .25rem;
      line-height: 2rem;
      background: lightgray;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: .25rem;
      margin-bottom: .25rem;
      cursor: pointer;

      &:not(:first-of-type) {
        box-shadow: 0 0 .5rem rgba($black, 0.15) inset;
        font-size: 11pt;
        font-weight: bold;
      }

      &:first-of-type {
        flex: 1 0 auto;
        margin-right: 0;
        background: none;
        padding: 0;
        order: 999;
      }

      input,
      input:focus {
        border: none;
        width: 100%;
        outline: none;
        background: transparent;
        min-width: 2rem;
        box-shadow: none;
        padding: .25rem .1rem;
        height: 2.5rem;
      }
    }
  }

  > .d3select-options {
    @extend %scrollbar;
    transform: translate(0, -.3rem);
    border: solid thin lightgray;
    border-top: none;
    border-radius: .1rem;
    background-color: $white;
    position: absolute;
    left: 0;
    margin-top: 0;
    max-height: 12rem;
    min-width: 100%;
    overflow-y: auto;
    top: 100%;
    transition-delay: 0s;
    white-space: nowrap;
    z-index: z($index, dropdowns);

    > li {
      margin-top: 0;
      display: block;


      &:hover,
      &.arrow-selected {
        > button {
          background: get($color-wheel, blue-green);
          box-shadow: 0 0 .25rem rgba(get($color-wheel, violet), 0.4) inset;
          color: white;
        }
      }

      &.arrow-selected {
        button {
          background: get($color-wheel, blue);
        }
      }

      button {
        height: 2rem;
        padding: .15rem .5rem;
        background: transparent;
        border: none;
        font-size: 1rem;
        text-align: left;
        width: 100%;
      }
    }

    &:not(:hover) > .d3select-options {
      visibility: hidden;
      transition: .2s .4s;
    }
  }
}
