.segue {
  background: white;
  bottom: 0;
  left: 0;
  margin-top: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: get($heights, header-mobile);
  transition: z-index 0s ease-out .25s, left .25s ease-in-out, transform .25s ease-out;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  z-index: 0;

  body:not(.mobile) & {
    padding: 3rem 6rem 1rem 1rem;
    top: get($heights, header-tablet);
    position: fixed;

    &.segue--right {
      padding-right: 22rem;
    }

    &.team {
      padding-right: 0;
    }
  }

  body.mobile & {

    &.team {
      overflow-y: hidden;

      .team-members {
        background-color: white;
        padding: 1rem;
      }
    }
  }

  .has-open-sidebar & {
    left: get($widths, sidebar);
  }

  .segue-close {
    margin-top: 0;
    transform: translate(-1.5rem, 2.5rem);

    .mobile & {
      transform: translate(-.5rem, .5rem);
    }
  }

  &:not(.is-joined) .segue-content {
    filter: blur(5px);
  }

  &:not(.is-open) {
    transform: translateX(-100%);
  }

  &.is-active {
    z-index: z($index, segue);
    transition: left .25s ease-in-out, transform .25s ease-out;
  }

  .team-toolbar-dropdown--right {
    box-shadow: 0 2px 2px rgba($black, 0.25);

    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 3.25rem;
      border: solid .5rem transparent;
      border-bottom-color: $white;
    }
  }
}

.segue--right {
  padding-right: 3rem;
  body:not(.mobile) & {
    padding-right: 22rem;
  }
  &:not(.is-open) {
    transform: translateX(100%);
  }
  &.is-active {
    z-index: z($index, segue-right);
  }
}

.main-content-context-arrow{
  position: absolute;
  right: -1px;
  top: -40px;
  margin: 0;
  transition: top .2s;

  &:after {
    content: '';
    background: url(/img/notch.svg);
    transform: translate(0, -25%);
    display: block;
    width: 1rem;
    height: 4.2rem;
  }
}
