.slider {
  padding-left: 0;
  width: 100%;
  overflow: hidden;

  .slider-controls {
    display: flex;

    .slider-controls-progressbar {
      flex: 1 1 auto;
    }

    .slider-controls-first,
    .slider-controls-next,
    .slider-controls-prev,
    .slider-controls-end {
      display: inline-block;
      font-size: 13pt;
      height: 4rem;
      line-height: 4rem;
      margin: 0;
      width: 4rem;
      outline: none;
      padding: 0;
      text-align: center;
      position: relative;
      margin: 0;
      border-radius: 0;

      &:after {
        .mobile & {
          content: '';
          border: solid thin #ddd;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: skew(-20deg);
           -moz-transform: skew(-20deg);
             -o-transform: skew(-20deg);
        }
      }

      .desktop & {
        &:hover {
          cursor: pointer;
        }
      }

      &:disabled {
        opacity: .5;
          &:hover {
          cursor: default;
        }
      }
    }


    .slider-controls-next {
      margin-left: auto;
    }

    .slider-controls-number {
      font-family: 'Roboto Condensed', 'Proxima Nova', 'Helvetica', sans-serif;
      font-weight: bold;
      text-align: center;
      height: 4rem;
      line-height: 4rem;
      font-size: 18pt;
      margin-top: 0;
      flex: 1 0 auto;
    }

    .slider-controls-first {
      .mobile & {
        margin-left: -12px;
        padding-left: 1rem;
        width: 5rem;
      }

      &::after {
        border-right: none;
      }
    }

    .slider-controls-end {
      .mobile & {
        margin-right: -12px;
        padding-right: 1rem;
        width: 5rem;
      }

      &::after {
        border-left: none;
      }
    }
  }

  .slider-slides {
    display: flex;
    overflow: hidden;
    transition: margin-left, .25s;
  }

  .slider-slide {
    min-width: 100%;
    height: 100%;
    margin-top: 0;

    @include tablet {
      padding: 0 12rem;
    }
  }

  .has-background & {
    .slider-controls-first,
    .slider-controls-next,
    .slider-controls-prev,
    .slider-controls-end,
    .slider-controls-number {
      color: #fff !important;

      &:after {
        border-color: #fff !important;
      }
    }
  }
}
