.table {
  border: 0;
  width: 100%;
  border-top: none;
  border-collapse: collapse;

  .table-caption {
    background-color: gray;
    color: white;
  }

  .table-head {
    display: none;

    .table-head-cell {
      display: block;

      @each $color in $chart-colors {
        $i: index($chart-colors, $color);
        &:nth-of-type(#{$i}) {
          background-color: $color;
        }
      }
    }
  }

  .table-body {
    display: block;

    @include tablet {
      background-color: #f3f3f3;
    }
    .table-body-head {
      padding: 0 .5rem;
    }

    @each $color in $chart-colors {
      $i: index($chart-colors, $color);
      &:nth-of-type(#{$i}) .table-body-head {
        color: $color;
      }
    }

    .table-body-cell {
      margin: 0;
      border: none;
      display: block;
      font-size: .8rem;
      text-align: right;
      padding: 0 .5rem;

      .mobile & {
        background-color: #fafafa;
        &:nth-of-type(2n) {
          background-color: #fff;
        }
      }

      &:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &.table-separator {
      display: none;

      @include tablet {
        display: table-row;
        height: 1rem;
      }
    }
  }

  @include tablet {
    .table-head {
      display: table-row;

      th + th {
        border-left: solid thin white;
      }

      .table-head-cell {
        background-color: gray;
        color: #fff;
        text-align: center;
        display: table-cell;
        text-transform: uppercase;
        font-size: 8pt;
      }
    }

    .table-body {
      display: table-row;
      background: transparent;

      + .table-body > td {
        border-top: solid thin white;
      }

      .table-body-head {
        white-space: nowrap;
        text-align: right;
        color: gray;
        text-transform: uppercase;
        font-size: 8pt;
      }

      .table-body-cell {
        display: table-cell;
        text-align: center;
        background-color: #fafafa;

        + .table-body-cell {
          border-left: solid thin white;
        }

        &:before {
          display: none;
        }
      }

      &:nth-of-type(2n):not(.table-separator) .table-body-cell {
        background-color: #fff;
      }
    }
  }
}

table {
  border-collapse: collapse;
}

tbody {
  tr > td {
    border-bottom: solid thin #eee;

  }
}
