[data-tooltip] {
  position: relative;
}

.tool-tip- {
  &-top,
  &-left,
  &-bottom,
  &-right {
    background: $white;
    color: $black;
    margin: 0;
    white-space: nowrap;
    z-index: z($index, tooltips);
    pointer-events: none;
  }
}
