/* ----------- Functions ----------- */
/*
= Unstyle List
*/
/**
 * A list of extends
 *
 * @section Extends
 * @sectionof Base
 */
/**
 * Clear default styles of ordered and unordered lists
 *
 * @section Unstyle List
 * @sectionof Base.Extends
 *
 * @usage @extend %unstylelist
 *
 * @example
 * <ul class="unstyle">
 *   <li>Lorem</li>
 *   <li>Ipsum</li>
 *   <li>Dolar</li>
 *   <li>Itset</li>
 * </ul>
 *
 * @code {scss}
 * .className {
 *   &#64;extend %unstylelist
 * }
 */
/*
= Unstyle Web Kit
*/
/*
= No Select
*/
/*
= No Event
*/
/*
= CSS Layout
*/
/*
= Grid Gutters
*/
/*
= Grid Gutters
*/
/*
= Hide
*/
/*
= Hide Visually
*/
/* ----------- Prefixer ----------- */
/* ----------- Base ----------- */
/* ----------- Interactive ----------- */
/* Hover States */
/* --------- Custom Media Quiries ----------- */
/* Custom Media Query */
/* Tablet */
/* Desktop/Wide Tablet */
/* Desktop */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Print ----------- */
/* ----------- Button ----------- */
/* ----------- Generators ----------- */
.onboarding--sidebar .onboarding--sidebar-settings_wrap .onboarding--sidebar-settings {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3); }

.home ~ .onboarding--sidebar,
.home ~ .onboarding--sidebar ~ .onboarding--sidebar-unhide {
  display: none; }

.home.is-empty ~ .emptystate--dashboard {
  left: 0;
  padding-left: 20rem; }

.home.is-sidebar-minimized ~ .onboarding--sidebar {
  transform: translateY(100%); }

.home.has-onboarding-sidebar ~ .onboarding--sidebar {
  display: block !important; }
  .home.has-onboarding-sidebar ~ .onboarding--sidebar + .onboarding--sidebar-unhide {
    display: block !important; }

.home.has-onboarding-sidebar.is-right ~ .onboarding--sidebar {
  right: 1.75rem; }
  .home.has-onboarding-sidebar.is-right ~ .onboarding--sidebar .image--left {
    background-blend-mode: luminosity; }
  .home.has-onboarding-sidebar.is-right ~ .onboarding--sidebar + .onboarding--sidebar-unhide {
    right: 1.75em; }

.home.has-onboarding-sidebar.is-right ~ .emptystate--dashboard {
  padding-right: 50rem;
  padding-left: 8rem; }

.home.has-onboarding-sidebar.is-left ~ .onboarding--sidebar {
  left: 22rem; }
  .home.has-onboarding-sidebar.is-left ~ .onboarding--sidebar .image--right {
    background-blend-mode: luminosity; }
  .home.has-onboarding-sidebar.is-left ~ .onboarding--sidebar + .onboarding--sidebar-unhide {
    left: 22rem; }

.home.has-onboarding-sidebar.is-left ~ .emptystate--dashboard {
  padding-left: 0; }

.onboarding--sidebar {
  bottom: 0;
  margin-top: 0;
  padding: 0;
  position: fixed;
  transition: transform .25s ease-in-out;
  width: 20rem;
  z-index: 4; }
  .onboarding--sidebar-heading {
    padding: 1rem; }
  .onboarding--sidebar .save-spinner {
    margin-top: 0;
    position: absolute;
    left: auto;
    right: 50%;
    top: 50%;
    transform: translateY(0);
    top: 32pt; }
    .onboarding--sidebar .save-spinner:not(.is-hidden) + .onboarding--sidebar-options {
      opacity: .3; }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap .onboarding--sidebar-tab {
    margin-top: 0;
    position: absolute;
    left: auto;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, #ffffff 100%);
    border: thin solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    height: 20pt;
    line-height: 20pt;
    width: 20pt;
    z-index: 2; }
    .onboarding--sidebar .onboarding--sidebar-settings_wrap .onboarding--sidebar-tab i:before {
      color: rgba(0, 0, 0, 0.4); }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap .onboarding--sidebar-settings {
    margin-top: 0;
    position: absolute;
    left: auto;
    right: 1rem;
    top: 50%;
    transform: translateY(8.5pt);
    background-color: #ffffff;
    border: thin solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    display: none;
    max-width: 80%;
    padding: 1rem;
    pointer-events: none;
    z-index: 1; }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap .image--right,
  .onboarding--sidebar .onboarding--sidebar-settings_wrap .image--left {
    background: #ffffff url("https://res.cloudinary.com/chopper/image/upload/Site%20Images/onboarding/sidebar/sidebar-orientation.png") center center no-repeat;
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4pt;
    display: block;
    height: 69px;
    width: 90px; }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap .image--left {
    transform: scaleX(-1); }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap.is-active .onboarding--sidebar-tab {
    background-color: #ffffff;
    background-image: none;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #40b1bd; }
  .onboarding--sidebar .onboarding--sidebar-settings_wrap.is-active .onboarding--sidebar-settings {
    display: block;
    pointer-events: auto; }
  .onboarding--sidebar-hide {
    background-color: rgba(0, 0, 0, 0.25);
    height: 2.5rem;
    width: 100%; }
  .onboarding--sidebar-unhide {
    background-color: #40b1bd;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    bottom: 0;
    height: 2.5rem;
    position: fixed;
    width: 20rem;
    z-index: 3; }
