.addColleague {

  .addColleague-connect {
    position: absolute;
    top: 0;
    right: 0;

    .addColleague-connect-dropdown {
      @extend %dropshadow;
      transform: translate(0, .5rem);
      border-radius: $radius;

      > li {
        &:first-of-type,
        &:last-of-type {
          overflow: hidden;
        }

        &:first-of-type {
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
        }

        &:last-of-type {
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;
        }
      }

      &:after {
        content: '';
        border: solid .5rem transparent;
        position: absolute;
        display: block;
        border-bottom-color: $white;
        bottom: 100%;
        left: .25rem;
      }
    }
  }

  &.is-connected {

    .addColleague-connect {
      background-color: $white;
      border-radius: 9999em;
      height: 17pt;
      text-align: center;
      width: 17pt;
      line-height: 17pt;

      &:before {
        color: get($color-theme, brand);
      }
    }
  }
}
