.alerts {
  background-color: $white;
  padding: .5rem;

  .tablet &,
  .desktop & {
    box-shadow: 0 .25rem .25rem atl($black, 0.25);
    width: 250pt;
  }

  > ul {
    > li {
      padding-bottom: .5rem;

      + li {
        border-top: solid thin get($color-theme, graphics);
      }
    }
  }
}
