.input-error {
  $border: #cccccc;
  background-color: $white;
  border: thin solid $border;
  border-radius: $radius;
  box-shadow: get-deep($shadows, 'submiddleground.default');
  color: get($color-theme, error);
  left: 50%;
  margin: 0;
  min-width: 200px;
  padding: .5rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 100%;
  transform: translateX(-50%);
  z-index: z($index, tooltips);

  &:empty {
    opacity: 0;
    transform: translateY(100%);
  }

  &:not(:empty) {
    animation: fadeOut 4s forwards;
  }

  &:after {
    background-color: $white;
    border-left: thin solid $border;
    border-top: thin solid $border;
    content: '';
    height: 8pt;
    left: 50%;
    position: absolute;
    top: -2pt;
    transform: rotate(45deg) translateX(-50%);
    width: 8pt;
  }
}
