.preview-pane {
  position: relative;
  overflow: hidden;

  &:after {
    content: 'Saved';
    width: 8rem;
    margin-left: -4rem;
    height: 3rem;
    margin-top: -2rem;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    background-color: $color-a;
    font-size: 16pt;
    font-weight: bold;
    line-height: 3rem;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease;
    box-shadow: 0 0 0 999rem rgba($black, 0.6);
  }

  &.is-saved:after {
    opacity: 1;
  }
}

.preview {
  width: 100%;
  min-height: 250px;
  background-color: #eee;
  position: relative;

  &:before {
    content: 'No Image Selected';
    width: 100%;
    top: 40%;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    font-weight: 600;
  }
}

.preview-controls {
  color: #fff;
  position: absolute;
  margin-top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 0;
  background-color: get($color-theme, heading);

  .preview-controls-button {
    margin: 0;
    display: inline-block;
    border-radius: 0;
    padding: 0 1.5rem;
    height: 3rem;
    color: $white;

    &:hover {
      background-color: scale-color(get($color-theme, heading), $lightness: 15%);
    }

    + .preview-controls-button {
      border-left: solid thin #aaa;
    }
  }
}

.preview-frame {
  background-color: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 1.5rem;
}
