.editable {
  color: inherit;
  display: block;
  position: relative;
  width: 100%;

  &:hover {
    background-color: scale-color($white, $lightness: -7%);
    text-decoration: none;

    &::after {
      color: scale-color($white, $lightness: -20%);
      content: '\f2bf';
      font-family: 'Ionicons';
      font-size: 11pt;
      position: absolute;
      left: -15pt;
      top: 0;
    }
  }
}
