.footer {
  @extend %dropshadow;
  padding-top: .25rem;

  html:not(.mobile) & {
    padding: $gutter*2 0 $gutter;
    background-color: get($color-theme, footer);

    .footer-share {
      display: none;
      transform: translate(-1rem, 0);

      li + li {
        border-top: solid thin light(get($color-theme, footer), 20%);
      }

      a {
        border-radius: 0;
      }

      @include tablet {
        display: block;
      }
    }

    a {
      color: $white;
    }
  }
}
