.globalSearch {
  position: absolute;
  top: 6rem;
  bottom: 1rem;
  right: 6rem;
  left: 1rem;

  &-tags {

    &-tag {
      padding: .1rem 0;

      &:not(:first-of-type) {
        background: get($color-theme, sidebar);
        padding: .1rem .5rem .1rem .75rem;
        border-radius: .25rem;
        color: $white;
      }
    }
  }

  .globalSearch-header {
  }

  &-result {
    &-count {
      strong {
        background-color: get($color-theme, graphics);
        padding: 0 .5rem;
        border-radius: 99rem;
        display: inline-block;
        color: $white;
      }
    }

    &-teamImage {
      transform: translate(.5rem, .5rem);
    }

    &-userImage {
      margin-top: 0;
      transform: translate(.5rem, 3rem);
    }

    &-userName {
      margin-top: 1rem
    }

    + .globalSearch-result {
      border-top: solid thin atl($black, 0.1);
    }
  }

  .globalSearch-sidebar  {
    bottom: 0;
    left: 0;
    margin-top: 0;
    padding-right: .5rem;
    position: absolute;
    top: 3rem;
    width: 20rem;
    margin-top: 0;
    padding-top: 2rem;

    .globalSearch-sidebar-profile {
      transform: translate(.5rem, 1.3rem);
    }

    &-icon {
      transform: translate(0.75rem, 0.75rem);
    }

    li {
      padding-left: 3rem;
      padding: 1rem 1rem 1rem 3rem;
      position: relative;
      border-right: solid thin atl($black, 0.1);

      &.is-current {
        &:before {
          content: url('../img/carat-left.svg');
          position: absolute;
          display: block;
          right: 0;
          top: 50%;
          transform: translate(1px, -50%);
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &:hover {
        background-color: atl(black, 0.03);
        cursor: pointer;
      }

      &.is-current {
        background-color: atl(black, 0.05);
        cursor: default;
      }
    }
  }

  .globalSearch-main {
    @extend %scrollbar;
    position: absolute;
    top: 3rem;
    right: 0;
    bottom: 1rem;
    left: 22rem;
    margin-top: 0;
    overflow-y: auto;

    .messages {
      margin-top: 0;
    }
  }
}
