.header {
  @extend %dropshadow;
  background-color: black;

  .desktop &,
  .tablet & {
    background-color: $white;
  }

  .header-bar {
    height: get($heights, header-mobile);
  }

  .header-alerts-icon {
    color: get($color-buttons, warning);
  }

  .header-alertPanel {
    transition: all .25s ease-in-out;
    max-height: 30rem;
    overflow: auto;

    &.is-hidden {
      max-height: 0;
    }
  }

  .header-globalMute {
    &:hover {
      cursor: pointer;
    }

    &.is-muted .header-globalMute-on,
    &:not(.is-muted) .header-globalMute-mute {
      @extend %hide;
    }

    &:not(.is-muted) .header-globalMute-on {
      color: get($color-buttons, add);
    }

    &.is-muted .header-globalMute-mute {
      color: get($color-buttons, cancel);
    }
  }

  .header-search {

    .header-search-label {
      width: 3rem;
      transition: all .25s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }

    .header-search-input {
      transition: width .25s ease-in-out, box-shadow .25s ease-in-out, background-color .25s ease-in-out;
      max-height: 2.5rem;
      border-radius: 2rem !important;
      width: 30rem;
      padding: 0 3rem 0 2.5rem;
      transition-delay:  0s;
      
      &::-ms-clear {
        display: none;
      }
    }

    .header-search-close {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      transition: visibility .25s ease .25s;
    }

    &:not(.has-content):not(.has-focus) {

      .header-search-input {
        transition-delay:  .25s;
        background-color: transparent;
        box-shadow: none !important;
        width: 3rem;
        padding: 0 1rem;
      }


      .header-search-settings,
      .header-search-close {
        visibility: hidden;
      }
    }

    .header-search-settings {
      transform: translate(3rem, -50%);
      width: 3rem;
    }
  }

  .header-profile {
    .tablet &,
    .desktop & {
      background-color: get($color-theme, sidebar);
    }
  }
}
