.icon- {
  &-warning {
    &:before {
      content: '\f101';
      font-family: 'Ionicons';
      color: $color-g;
      font-size: 28pt;
      font-style: normal;
      line-height: 28pt;
      font-weight: normal;
    }
  }

  &-confirmed {
    color: get($color-buttons, confirm);
  }
}
