$inputs-text:
  date,
  email,
  number,
  password,
  search,
  tel,
  text,
  time,
  url;

@each $type in $inputs-text {
  input[type='#{$type}']:not(.vannilla) {
    box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1);
    border-radius: .1rem;

    &:focus {
      box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1), 0 0 .25rem rgba($black, 0.2);
    }
  }
}

fieldset {
  textarea {
    border: none;
    box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1);
    border-radius: .1rem;

    &:focus {
      box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1), 0 0 .25rem rgba($black, 0.2);
    }
  }
}

fieldset {
  legend,
  legend label {
    font-weight: get($font-weights, semi-bold);
    color: get($color-theme, label);
  }
}

[contenteditable='true'] {
  background-color: rgba($black, 0.05);
  border-radius: .1rem;
  word-break: break-word;

  &:focus {
    box-shadow: 0 .1rem .1rem rgba($black, 0.05) inset, 0 0 0 .1rem rgba($black, 0.1), 0 0 .5rem rgba($black, 0.2);
  }
}

@include ie-edge {
  legend {
    float: left;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
}

@include ie-11 {
  input + legend {
    float: left;
    position: absolute;
    bottom: 100%;
    left: 0;
  }
}
