.list {
  > li + li {
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.list-separator {
  > li + li {
    border-top: solid thin scale-color(get($color-theme, graphics), $lightness: 70%);
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.list-numerical {
  counter-reset: section;
  list-style-type: none;

  > li {

    &:before {
      counter-increment: section;
      content: counters(section,'.') '. ';
    }
  }
}

.list-alphabetical {
  list-style-type: lower-alpha;

  li:before {
    content: '';
  }
}

.list-blank {
  list-style-type: none;

  ul {
    margin-top: 1.5rem;
  }
}

.contact_card {

  li {
    border-bottom: thin solid lighten($black, 95%);
    padding: .5rem 0;

    &:last-of-type {
      border: none;
    }

    > p {
      font-size: 85%;
      margin-top: 0;
    }
  }
}

.score-underline {

  li {
    overflow: hidden;
    white-space: nowrap;

    &.is-active button {
      color: lighten($black, 5%);
    }

    &:hover:after,
    &.is-active:after {
      // transform: translate(0, 0);
      width: 100%;
      transition: width .25s ease-in-out;
    }

    &:before,
    &:after {
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      height: 1px;
      position: absolute;
      width: 100%;
    }

    &:before {
      background-color: rgba($black, .1);
    }

    &:after {
      // transform: translate(-100%, 0);
      width: 0;
      background-color: get($color-theme, brand);
    }

    button,
    a {
      color: lighten($black, 40%);
      display: block;
			padding: 5pt;
      width: 100%;
    }
  }
}
