.manageDivisions {

  .manageDivisions-list {

    .manageDivisions-list-division {
      border-radius: .25rem;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
      padding: 1rem;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
