.message {
  padding-left: 3rem;
  min-height: 4rem;
  position: relative;

  .message-icon {
    @include layout(0, auto, .5rem);
    top: 0;
  }

  .message-flag {
    opacity: 1;
    transition: opacity .25s ease;
    transform: translate(.25rem, 2.75rem);
    visibility: visible;

    &:hover {
      z-index: z($index, popovers);
    }

    button {
      padding-left: .25rem;
      border-radius: 99rem;
      font-size: 8pt;
      line-height: 1.2rem;
    }
  }

  &:not(:hover) .message-flag:not(.is-active) {
    visibility: hidden;
  }

  .message-search-term {
    background-color: get($color-wheel, yellow-orange);
    padding: 0 .1em;
    color: $white;
    display: inline-block;
  }

  .message-name {
    margin-top: 0;

    .message-name-file {
      font-size: 10pt;
    }
  }

  .message-content {
    @include tablet {
      font-size: 11.5pt;
    }

    font-size: 10pt;
    line-height: 1.3em;
    margin-top: 0;
    white-space: pre-wrap;

    a {
      word-break: break-word;
    }
  }

  img {
    max-width: 100%;
    max-height: 12rem;
  }

  .message-giphy {
    height: 12rem;
    display: block;
  }

  .message-file {
    line-height: 1.5rem;

    .message-file-link {
      display: block;
    }

    .message-image-link {
      position: relative;
      display: block;
      max-width: 70%;
      height: 12rem;
      font-size: 0;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
