.messenger {
  transform: translate(0, 0);

  .mobile & {
    padding: 32px 0 72px 0;

    .messenger-toolbar {
      height: 32px;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;

      &-name {
        @include layout(2.5rem);

        .mobile & {
          width: calc(100vw - 11rem);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: $white;
        }
      }

      &-menu {
        @include layout(auto, .5rem);
      }

      .messenger-toolbar--videochat {
        display: none;
      }
    }

    .messenger-messages {
      height: 100%;
      position: relative;
      overflow-y: auto;

      .messenger-messages-sleeve {
        position: absolute;
        bottom: 0;
        max-height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
      }
    }

    .messenger-input {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 11;
    }
  }
}
