.nav- {
  &-header {
    padding: 0 .5rem;

    .nav--header-count {
      transform: translateX(-.5rem);
      color: get($color-theme, links);
    }

    &-dropdown {
      box-shadow: 0 .25rem .25rem rgba($black, 0.25);
    }

    &:hover > a,
    &.is-active > a {
      color: get($color-buttons, text);
      text-decoration: none;

      &:after {
        width: 100%;
        left: 0;
      }
    }

    > a {
      text-align: center;
      color: get($color-theme, heading);
      font-size: 9pt;
      transition: color .25s ease-in-out;
      display: block;
      white-space: nowrap;
      position: relative;
      font-weight: get($font-weights, semi-bold);
      font-size: 10pt;
      line-height: 100%;
      height: get($heights, header-tablet);
      line-height: get($heights, header-tablet);

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        font-weight: normal;
        border-bottom: solid .25rem get($color-buttons, text);
        transition: border-bottom .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out;
      }

      span {
        display: none;
        margin-top: 0;

        @include tablet {
          display: inline-block;
        }
      }

      i:last-child {
        display: none;
        margin-top: 0;

        @include tablet {
          display: inline-block;
          margin-left: .25em;
        }
      }

      .icon {
        display: block;
        font-size: 28pt;

        @include tablet {
          font-size: 18pt;
        }
      }
    }

    > ul {
      box-shadow: 0 .25rem .22rem rgba($black, 0.2);
      padding-bottom: .5rem;
    }

    &-public {
      height: $height-header;
      line-height: $height-header;

      a {
        color: get($color-theme, heading);
        display: inline-block;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0%;
          border-bottom: solid thin gray;
          transition: left .25s ease-in-out, width .25s ease-in-out;
          transform: translate(0, .5rem);
        }

        &:hover {
          text-decoration: none;

          &:after {
            width: 100%;
            left: 0%;
          }
        }
      }

      .mobile & {
        display: block;

        a {
          border-top: solid thin $white;
          display: block;
          font-size: 16pt;
          padding: 0 2rem;
        }
      }
    }

    &-login {

      > a {
        color: $white;
        height: $height-header;
        line-height: $height-header;
        padding: 0 1rem;
        background-color: get($color-buttons, confirm);
        display: block;

        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  &-submenu {
    margin-top: 0;

    .sideMenu & {
      &:first-of-type {
        border-top: solid thin get($color-theme, graphics);
      }
      border-left: solid .5rem get($color-theme, graphics);
    }

    > a {
      padding: 0 1rem;
      line-height: 2.5rem;
      height: 2.5rem;
      color: get($color-theme, heading);
      position: relative;
      display: inline-block;
      white-space: nowrap;

      &:after {
        content: '';
        display: block;
        border-bottom: solid thin dark(get($color-buttons, text), 20%);
        position: absolute;
        left: 1rem;
        right: 100%;
        bottom: .5rem;
        transition: left .25s ease-in-out, right .25s ease-in-out;
      }

      &:hover {
        color: dark(get($color-buttons, text), 20%);
        text-decoration: none;

        &:after {
          left: calc(0% + 1rem);
          right: calc(0% + 1rem);
        }
      }
    }
  }

  &-profile {
    height: 4rem;
    line-height: 4rem;
    border-top: solid thin light(get($color-theme, sidebar), 10%);
    border-bottom: solid thin dark(get($color-theme, sidebar), 15%);

    > a {
      font-weight: get($font-weights, semi-bold);
      display: block;
      padding: 0 2rem 0 1rem;
      color: $white;
      text-shadow: 0 -1px rgba($black, 0.3);

      &:hover {
        background-color: dark(get($color-theme, sidebar), 15%);
        color: $white;
        text-decoration: none;
      }
    }
  }
}
