.occupation-list {
  max-height: 320px;
  overflow-y: auto;
  margin-top: 0;
  box-shadow: 0 0px 2px rgba($black, 0.3) inset;

  .occupation-list-item {
    display: block;
    cursor: pointer;
    opacity: 1;
    max-height: 100%;
    overflow: hidden;
    transition: opacity .25s, max-height .25s .3s, margin-top .25s .3s;
    color: scale-color($text-color, $lightness: 30%);
    margin: 1rem 1rem 0 .6rem;

    &:before {
      content: '\f218';
      font-family: 'Ionicons';
      display: inline-block;
      overflow: hidden;
      transition: width .25s, opacity .25s;
      float: left;
      opacity: 0;
      margin-right: .5em;
      color: get($color-theme, brand);
    }

    &:hover {
      color: $text-color;

      &:before {
        opacity: 1;
      }
    }

    &.is-active {
      opacity: 0;
      max-height: 0;
      margin-top: 0;
    }

    .moreinfo-content {
      padding-left: 1.25rem;
      margin-top: 0;
      font-style: oblique;
      transition: opacity .5s ease-in-out;
      opacity: 1;
      color: scale-color($text-color, $lightness: 40%);
    }

    &:not(:hover) .moreinfo-content {
      @extend %hide;
      opacity: 0;
    }
  }
}
