@import '../utils/glob';

.newPassword {
  &-chars,
  &-simple,
  &-strong {
    position: relative;

    &-strength {
      color: map-get($color-wheel, orange);
      font-size: .8em;
      font-weight: map-get($weights, bold);
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    &-success {
      display: none;
    }
  }

  &:not(.password_too_short) &-chars,
  &:not(.password_too_simple) &-simple,
  &:not(.password_too_simple):not(.password_too_short).password_medium &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_strong &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_very_strong &-strong,
  &:not(.password_too_simple):not(.password_too_short).password_extra_strong &-strong {
    &-keepTyping {
      display: none;
    }

    &-strength {
      // display: none;
    }

    &-success {
      // display: inline;
    }

    &:before {
      color: map-get($color-wheel, blue-green);
    }
  }

  &-strength {
    border-top: solid 3px #ddd;
    height: 2rem;
    position: relative;
    transform: translate(0, -1px);
    transition: opacity .25s ease;

    &:after,
    &:before {
      content: '';
      display: block;
      transition: transform .5s ease-in-out;
      transform-origin: left top;
      width: 100%;
    }

    &:before {
      background-color: map-get($color-wheel, red-violet);
      height: 3px;
      transform: scaleX(.2) translateY(-3px);

      .password_weak:not(.password_too_simple) & {
        background-color: map-get($color-wheel, red-violet);
        transform: scaleX(.2) translateY(-3px);
      }

      .password_medium:not(.password_too_simple) & {
        background-color: map-get($color-wheel, orange);
        transform: scaleX(.4) translateY(-3px);
      }

      .password_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, yellow-green);
        transform: scaleX(.6) translateY(-3px);
      }

      .password_very_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, green);
        transform: scaleX(.8) translateY(-3px);
      }

      .password_extra_strong:not(.password_too_simple) & {
        background-color: map-get($color-wheel, blue-green);
        transform: scaleX(1) translateY(-3px);
      }
    }

    &:after {
      color: map-get($color-wheel, red-violet);
      content: 'Too Weak';
      font-size: .6rem;
      font-weight: map-get($weights, bold);
      letter-spacing: .1em;
      text-align: right;
      text-transform: uppercase;
      transform: translate(-80%, 0);

      .password_weak:not(.password_too_simple) & {
        content: 'Too Weak';
        color: map-get($color-wheel, red-violet);
        transform: translate(-80%, 0);
      }

      .password_medium:not(.password_too_simple) & {
        content: 'Adequate';
        color: map-get($color-wheel, orange);
        transform: translate(-60%, 0);
      }

      .password_strong:not(.password_too_simple) & {
        content: 'Average';
        color: map-get($color-wheel, yellow-green);
        opacity: 1;
        transform: translate(-40%, 0);
      }

      .password_very_strong:not(.password_too_simple) & {
        content: 'Strong';
        color: map-get($color-wheel, green);
        transform: translate(-20%, 0);
      }

      .password_extra_strong:not(.password_too_simple) & {
        content: 'Very Strong';
        color: map-get($color-wheel, blue-green);
        transform: translate(-0%, 0);
      }
    }
  }
}
