.addlContent {
  @extend %boxshadow--lg;
  border-radius: 999em;
  cursor: help;
  font-size: 12pt;
  font-weight: 600;
  padding: 10px 0 0;
  height: 35px;
  width: 35px;
}

.permissionDetails {
  position: relative;
  width: 200pt;

  &.selected .permission-access {
    display: none;
  }

  .drop--up-right & {

    &:after {
      left: auto;
      right: 13px;
      margin-left: 0;
    }
  }

  &:after {
    content: '';
    background-color: $white;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }

  li {
    position: relative;
    padding-left: 13pt;
    color: scale-color($text-color, $lightness: 40%);
    margin-top: .5rem;

    .permission-access {
      color: scale-color($text-color, $lightness: 40%);
      display: block;
      font-size: 80%;
    }

    &:before {
      color: scale-color($text-color, $lightness: 60%);
      content: '\f122';
      font-family: 'Ionicons';
      left: 0;
      position: absolute;
      top: 0;
    }

    &.has-privilege {
      color: $text-color;
      font-weight: 600;

      &:before {
        color: get($color-theme, brand);
      }
    }
  }
}
