$color-progressbar: #555555;

.progressbar {
  margin-top: 0;
  width: 100%;
  position: relative;
  height: 2px;
  background-color: $color-progressbar;

  .progressbar-bar {
    margin-top: 0;
    height: 2px;
    background-color: get($color-theme, brand);
    transition: width .25s;
  }

  .progressbar-marker {
    position: absolute;
    top: -3px;
    margin-top: 0;
    background-color: $color-progressbar;
    width: 8px;
    height: 8px;
    border-radius: 99em;
    transition: left .25s;
    border: solid 2px get($color-theme, brand);
  }
}
