.profile--addColleague {
  position: absolute;
  bottom: -25pt;
  right: 50pt;

  .mobile & {
    bottom: auto;
    right: 10pt;
    top: 10pt;
  }

  button {
    background-color: get($color-theme, brand);
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    font-size: 22pt;
    text-shadow: -1px -1px 0 rgba($black, .1);
    color: $white;

    @include tablet {
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      font-size: 30pt;
    }
  }
}

.user-company {
  padding-right: 15pt;
  position: relative;

  &::after {
    background-color: lighten($black, 70%);
    border-radius: 100%;
    content: '';
    height: 3px;
    position: absolute;
    right: 5pt;
    top: 40%;
    width: 3px;
  }
}
