.questions {

  .questions-splash {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 15.5rem;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      height: 23rem;
    }
  }

  .container {
    padding: 0;
  }

  .questions-success {
    @extend %dropshadow;

    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
    top: 3rem;
    background-color: #fff;
    padding: 5rem 0;
    z-index: 10010;
    visibility: hidden;

    &.animated {
      visibility: visible;
    }
  }

  &.mobile {
    font-family: 'Roboto Condensed', 'Proxima Nova', 'Helvetica', sans-serif;
    padding-top: 4rem;
    padding-bottom: 3rem;

    .questions-logo {
      width: 3rem;
      height: 3rem;
      background-color: get($color-theme, questions-header);
      margin-right: 2px;

      > svg {
        max-width: 2rem;
        fill: #fff;
        margin: 0 auto;
        display: block;
        margin-top: .25rem
      }
    }

    .questions-portrait {
      margin: 0 auto;
      max-width: 75px;
    }

    .questions-name {
      margin: .5rem 1rem 0;
      font-size: 12pt;
      font-weight: bold;
      color: get($color-theme, heading);
      text-transform: uppercase;

      &.is-public {
        font-size: 18pt;
      }
    }

    .question-submit {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }

  &.desktop {
    padding-top: 5rem;
    padding-bottom: 0;

    [role='main'] {
      padding-top: 0;
    }

    .questions-logo {
      width: 16rem;
      background-color: get($color-theme, questions-header);
      height: 3rem;
      padding: .4rem 1rem 0;

      > svg {
        fill: $white;
        display: block;
        margin-top: .25rem
      }
    }

    .questions-portrait {
      margin: 2rem auto 0;
      max-width: 100px;
    }

    .questions-name {
      max-width: 700px;
      margin: 1rem auto 0;
    }

    .questions-name {
      margin-top: 1rem;
      font-size: 28pt;
      font-weight: bold;
      color: get($color-theme, heading);
      line-height: 2.5rem;
    }
  }

  .questions-feedback {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 2px rgba($black, 0.3), 0 -2px rgba($white, 0.3);
  }

  .questions-header {
    @extend %dropshadow;
    background-color: get($color-theme, questions-header);
    background: #fff;
    z-index: z($index, navigation);

    .questions-header-title {
      height: 3rem;
      line-height: 3rem;
      padding-left: .5rem;
      color: get($color-theme, heading);
    }
  }

  .questions-progress {
    flex: 1 0 auto;
    position: relative;
    background-color: get($color-theme, questions-header);

    .questions-progress-markers {
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      height: 3rem;
      margin-right: 3rem;

      .questions-progress-marker {
        position: absolute;
        top: 0;
        margin-top: 0;
        font-size: 6.5pt;
        font-weight: 700;
        color: #666;
        text-transform: uppercase;
        letter-spacing: .1em;
        transition: color .25s;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: max-width .25s ease-in-out;

        .mobile & {
          max-width: 4em;

          &:before {
            content: '\f21b';
            font-family: 'Ionicons';
            margin-right: .25em;
          }
        }

        &:nth-of-type(2n+2) {
          top: auto;
          bottom: 0;
        }

        &.general {
          margin-left: 1rem;
        }

        &.is-current {
          color: $white;

          .mobile & {
            max-width: 50em;
          }
        }
      }
    }

    .questions-progress-progressbar {
      margin: 0;
      top: 1.4rem;
      left: 1rem;
      right: 1rem;
      padding: 0;
      position: absolute;
    }
  }

  .questions-portrait {
    border-radius: 9999em;
    overflow: hidden;
    margin-right: .5rem;
    max-width: 65px;
    margin-left: .5rem;
  }

  .questions-section {
    margin-top: 3rem;
    font-size: 18pt;
  }

  .questions-subhead {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: get($color-theme, brand);
  }

  .questions-disclaimer {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: .1em;
    font-weight: 700;
  }

  .questions-action {
    margin-top: 0;

    button {
      border-radius: 0;
      margin-bottom: 0;
      margin-left: .25rem;
    }

    .mobile & {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 0;
      margin: 0;
    }
  }

  .questions-self {
    text-align: center;
    margin-top: 0;
  }

  .questions-others {
    margin-top: 0;
  }

  .results-header {
    @extend %dropshadow;
    background-color: #fff;

    > svg {
      margin: 1rem 1rem;
      fill: get($color-theme, brand);
      max-width: 10rem;
    }
  }
}

.has-background.questions .questions-name {
  @include tablet {
    min-height: 7rem;
  }

  color: #fff;
}
