::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 1);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}

[contenteditable='true']:focus {
  &::-webkit-scrollbar {
    width: 2pt;
  }
}
