li[class*='channel-type-'] > button {

  &:before {
    margin-right: .25em;
    font-family: 'Ionicons';
    font-size: 80%;
  }
}

li.channel-type-company > button:before {
  content: '\f14c';
}

li.channel-type-departments > button:before {
  content: '\f185';
}

li.channel-type-teams > button:before {
  content: '\f47c';
}

li.channel-type-conversations > button:before {
  content: '\f213';
}
