.sidebar {
  transition: transform .25s ease-in-out;
  transform: translate(-100%, 0);

  &-main {
    height: 100%;
  }

  &-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .has-open-sidebar & {
   transform: translate(0%, 0);
  }

  .sidebar-branding {
    background-color: $white;
    border-right: solid thin light(get($color-theme, heading), 80%);
    text-align: center;
    min-height: 42px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 3rem;
    }

    .sidebar-branding-name {
      padding-right: 1rem;
    }
  }

  .sidebar-header-favorite {
    width: 3.5rem;
    text-align: center;
  }

  .sidebar-search {
    padding: .5rem;
  }

  .module {
    border-left: solid thin get($color-theme, graphics);
    padding-left: $gutter/2;

    .module-heading {
      margin-left: -$gutter/2;
      padding-left: $gutter/2;
      margin-bottom: $gutter/2;
      border-bottom: solid thin get($color-theme, graphics);
      padding: $gutter/2;
    }
  }
}
