.task {
  cursor: pointer;

  input {
    display: none;
  }

  span {
    border: solid thin scale-color(get($color-theme, heading), $lightness: 90%);
    margin-top: 0;
    transition: background-image .25s;
    padding: 1.75rem 2rem 1rem 2.25rem;
    border-radius: .5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: background-color .25s, color .25s;

    .desktop & {
      min-height: 250px;
    }

    &:after {
      content: '\f122';
      font-family: 'Ionicons';
      position: absolute;
      top: .75rem;
      left: .5rem;
      font-size: 24pt;
      line-height: 24pt;
      color: #fff;
      z-index: 0;
      transition: .25s color;
      display: none;
    }
  }

  .task-description {
    min-width: 100%;
    margin-bottom: 1rem;
    z-index: 2;
  }

  .task-count {
    display: none;
  }

  .task-occupation {
    color: scale-color(get($color-theme, brand), $lightness: -40%);
    font-weight: 700;
    font-size: 8pt;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1rem;
  }

  .task-selection {
    align-self: flex-end;
    margin: -2rem;
    margin-bottom: -1rem;
    margin-top: 0;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 0 0 .5rem .5rem;

    .mobile & {
      padding-top: 1rem;
    }
  }

  input:checked {
    + span {
      color: $white;
      position: relative;
      background-color: get($color-theme, brand);

      &:after {
        color: scale-color(get($color-theme, brand), $lightness: 20%);
      }

      .task-count {
        display: inline;
      }

      hr {
        border-color: $white;
      }

      button {
        color: $white;
      }
    }
  }
}
