.tray- {

  &-right {
    box-shadow: -.25rem .15rem .25rem rgba($black, 0.1);

    .profileMenu--menu {
      margin-top: 0;
      li {
        position: relative;

        .profileMenu--menu-close {
          position: absolute;
          top: 0;
          left: 0;
          height: 3rem;
          width: 3rem;
          z-index: -1;
          transform: translateX(0);
          transition: transform .25s ease-in-out;
          text-align: center;
          border: 0;

          > svg g use {
            fill: $white;
            stroke: $white;
            stroke-width: 4;
          }
        }

        button {
          width: 100%;
          color: $white;
          text-align: left;
          line-height: 3rem;
          position: relative;
          margin-bottom: 0;

          &.is-active + .profileMenu--menu-close {
            z-index: z($index, segue-right);
          }

          @include tablet {

            &.is-active + .profileMenu--menu-close {
              transform: translateX(-100%);
            }
          }

          > i {
            text-align: center;
            width: 3rem;
            height: 3rem;
          }

          span {
            display: block;
            font-size: 80%;
            opacity: .8;
          }
        }
      }
    }
  }

  &-drawer {

    &-down {
      background-color: #f6f6f6;
      font-size: 80%;
      border: thin solid #e6e6e6;
      border-width: thin 0;
      overflow: hidden;
      transition: all .25s ease-in-out;
      transition-property: height, opacity;
      padding: 1rem;

      fieldset > label {
        white-space: normal;
      }

      .tray-toggle:not(:hover) > & {
        @extend %hide;
      }
    }

    &-left {
      background-color: #f6f6f6;
      transition: all .25s ease-in-out;
      overflow: hidden;
      opacity: 0;
      transform: translate(0, 0);
      position: relative;

      &:before {
        background-color: $white;
        content: '';
        @include layout(auto, 0px);
        top: 0;
        width: 5pt;
        height: 5pt;
        transform: rotate(45deg);
      }

      &.is-open {
        transform: translate(-100%, 0);
        transition: all .25s ease-in-out;
        opacity: 1;
      }

      button {
        padding: .5rem;
        line-height: 1.5rem;
        white-space: normal !important;
        text-align: left;
        height: auto;
        min-width: 0;

        span {
          padding: 0;
        }
      }
    }
  }
}
