.typeahead {
  @extend %dropshadow;

  .typeahead-suggestion {
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;

    &:hover {
      background-color: get($color-theme, graphics);
      color: $white;
      cursor: pointer;
    }
  }
}
