.userCard {

  .desktop & {
    position: absolute;
    bottom: -2rem;
    left: 3rem;
    padding: 1rem 3rem 1rem 1rem;

    .userCard-edit {
      top: 0;
      right: 0;
      position: absolute;
      margin-top: 0;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      font-size: 14pt;
      color: get($color-theme, sidebar);
    }

    &:hover .userCard-edit {
      display: none;
    }

    .userCard-connected {
      color: get($color-theme, brand);
      font-size: 16pt;
      height: 2.5rem;
      line-height: 2.5rem;
      margin-top: 0;
      position: absolute;
      text-align: center;
      width: 2.5rem;
      top: 2.5pt;
      right: 2.5pt;

      &:before {
        font-family: 'Ionicons';
        font-size: 10pt;
      }

      &.reverse-status-unknown:before {
        content: '\f152';
      }

      &.reverse-status-acknowledged:before {
        content: '\f1fe';
      }
    }
  }

  .userCard--photoupload {
    height: 110px;

    .mobile & {
      margin-top: 6rem;

      img {
        margin: 0 auto;
      }
    }

    .icon {
      background-color: get($color-theme, brand);
      border-radius: 100%;
      box-shadow: 0 0 0 0 $white,
                  0 0 0 0 get($color-theme, brand);
      bottom: 5pt;
      color: $white;
      display: block;
      font-size: 13pt;
      height: 25pt;
      overflow: hidden;
      padding-top: 6pt;
      position: absolute;
      right: 5pt;
      transition: box-shadow .25s ease-in-out,
                  background-color .25s ease-in-out;
      width: 25pt;
    }

    .ion-camera,
    .ion-upload {
      left: 50%;
      margin-left: -22%;
      position: absolute;
      transition: transform .25s ease-in-out;
    }

    .ion-camera {
      transform: translateY(10%);
    }

    .ion-upload {
      transform: translateY(150%);
    }

    &:hover {

      .icon {
        background-color: $color-a;
        box-shadow: 0 0 0 9pt rgba($white, 1),
                    0 0 0 10pt rgba($color-a, 0),
                    inset 0 0 0 15pt $color-a;
      }

      .ion-camera {
        transform: translateY(150%);
      }

      .ion-upload {
        transform: translateY(-110%);
      }
    }
  }

  .is-sent {
    color: get($color-theme, graphics);

    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }

  &--edit {
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-size: 21pt;
    color: #fff;
    text-shadow: 0 -1px $black;
  }
}
