.footer {
  z-index: z($index, footer);
}

html {
  &:not(.mobile) {
    .footer {
      width: 100%;
      color: $white;
      height: $height-footer;
      padding: 0 1rem;
      transition: padding-right .5s;
    }
  }
}
