.header {
  left: 0;
  margin-top: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: z($index, header);

  .desktop &,
  .tablet & {
    left: get($widths, sidebar);
    height: 3rem;
  }

  .header-alerts {
    @include layout(auto, 3rem);

    .desktop &,
    .tablet & {
      @include layout(auto, 9.5rem);
      height: 3rem;
      width: 3rem;
    }

    .header-alerts-icon {
      @include layout(50%);

      .tablet &,
      .desktop & {
        transform: translate(-50%, -50%);
      }
    }
  }

  .header-contacts {
    @include layout(auto, 3.5rem);
  }

  .header-globalMute {
    @include layout(auto, 7rem);
  }

  .header-nav {
    @include layout(4.5rem);
  }

  .header-profile {
    @include layout(auto, .25rem);

    .tablet &,
    .desktop & {
      @include layout(auto, 0);
      width: 3rem;
      height: 3rem;
    }

    .header-profile-toggle {
      @include layout(.25rem);
      transform: translate(25%, -50%);

      path {
        box-shadow: 0 0 .1rem atl($black, 0.25);
      }
    }
  }

  .header-search {
    @include layout(.5rem);

    .header-search-label {
      @include layout(0);
      text-align: center;
    }

    .header-search-settings {
      @include layout(auto, 0);
    }

    &-close {
      @include layout(auto, 0);
    }
  }

  .header-title {
    @include layout(.5rem);
    color: $white;
  }
}
