// sass-lint:disable no-important

body {
  * {
    box-sizing: border-box;
    margin-top: 0;

    + * {
      margin-top: $gutter;
    }
  }
}

.is-hidden {
  &:not(.is-open) {
    @extend %visuallyhidden;
  }
}

.collapse {
  + * {
    margin-top: 0 !important;
  }

  &--half + * {
    margin-top: $gutter/2;
  }

  &--quarter + * {
    margin-top: $gutter/4;
  }

  &--third + * {
    margin-top: $gutter/3;
  }
}


.unstyle {
  @at-root ul#{&},
  ol#{&} {
    list-style: none;
    padding-left: 0;
  }

  @at-root a#{&} {
    text-decoration: none;
  }
}

html {
  &:not(.mobile) {
    .show--mobile {
      @extend %hide;
    }
  }
}


.fill- {
  &-h {
    width: 100% !important;

    &[class^='button'] {
      text-align: center;
    }
  }

  &-v {
    height: 100% !important;
  }
}

.scroll- {
  &-v {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
    overflow-x: hidden;
    overflow-y: auto;

    &-forced {
      @extend %scrollbar;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
      overflow-x: hidden;
      overflow-y: scroll;
    }

    &-bar {
      @extend .scroll--v;
      @extend %scrollbar;
    }
  }

  &-h {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
    overflow-x: auto;
    overflow-y: hidden;

    &-forced {
      @extend %scrollbar;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}

.paragraph- {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-justify {
    text-align: justify;
  }
}

.inverse {
  color: $white !important;
  fill: $white !important;
}

.overflow- {
  &-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }

  &-nowrap {
    white-space: nowrap;
    overflow: visible;
  }

  &-x {
    &-hidden {
      overflow-x: hidden;
    }
  }
  &-break-word {
    word-break: break-word;
  }
}

.float- {
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }
}

.hover- {
  &-pointer {
    &:hover {
      @extend %noselect;
      cursor: pointer;
    }
  }
}
