@include inputs(3rem);

.input-error {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1rem;

  &--top {
    @extend .input-error;
    bottom: 100%;
    top: auto;
  }

  &.left {
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
  }

  &.right {
    top: 0;
    transform: translate(0%, 0);
  }
}

fieldset {
  > legend {
    transform: translate(.1em, 2rem);
    transition: transform .25s ease-in-out;
  }

  &.select,
  &.checklist,
  &.has-content,
  &.has-focus {
    > legend {
      transform: translate(.1em, 0);
    }
  }
}
