body {
  background-color: $color-body;
  position: relative;
  max-height: 100vh;
  min-height: 100%;
  -ms-overflow-style: none;
  transition: margin-left .25s ease-in-out;

  .mobile & {
    height: 100%;
  }

  &.tablet,
  &.desktop {
    padding-top: get($heights, header-tablet);
    min-height: calc(100% - #{get($heights, header-tablet)});
  }

  > footer {
    align-self: flex-end;
    margin-top: auto;
  }

  &.has-open-sidebar {
    margin-left: get($widths, sidebar);
  }

  &.is-fixed {
    overflow: hidden;

    .landingMessages {
      pointer-events: none;
    }

    .modal,
    .popover,
    .segue,
    .segue--right,
    [class*='tray-'] {
      pointer-events: auto;
    }
  }
}

[role='main'] {
  margin-bottom: $gutter;
  margin-top: $gutter;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    padding-top: 2rem;

    .template-confirm-thank-you & {
      padding-top: 0;
    }
  }
}

.mobile {
  .template-pages-company-login {
    [role='main'] {
      margin-top: 7rem;
    }
  }
}

.main {
  position: relative;
  width: 100%;

  &:nth-child(1) {
    &:nth-last-child(1) {
      max-width: 840px;
      margin: 0 auto;
    }
  }
}

.container- {
  margin: 0 auto;
  width: 100%;

  @include tablet {
    max-width: $tablet-width;
  }

  @include desktop {
    max-width: $desktop-width;
  }

  @include desktop-lg {
    max-width: $desktop-width-large;
  }

  &-h {
    @extend .container-;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-v {
    @extend .container-;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 100%;
  }
}

.landingButtons {
  padding-top: get($heights, header-mobile) + .5rem;
}
