$width-sidebar: 16rem;

.sidemenu {
  background-color: $white;
  position: relative;
  top: 0;
  bottom: 0;
  max-width: 24rem;

  .sidemenu-back {
    top: -8rem;
    position: absolute;
    margin-top: 2rem;
    right: -7rem;
  }
}
