
$phi:  1.61803;
$notes: (a, b, c, d, e, f, g);
$tags: ((sup, sub), small, body, h6, h5, h4, h3, h2, h1);
$r: 2;
$n: 5;
$o: 2;

@function scale-type($f0, $i, $r: 2, $n: 5) {
  @return $f0 * pow($r, $i/$n);
}

@each $tag in $tags {
  $b: 0;
  $i: index($tags, $tag);

  @if (index($tags, body)) {
    $b: index($tags, body);
  }

  #{$tag} {
    font-size: scale-type(1rem, $i - $b, $r: 2, $n: 3);
  }
}

@for $octave from -2 through $o {
  @for $note from 1 through $n {
    $i: nth($notes, $note);
    .#{$i}#{$octave} {
      font-size: scale-type(1rem, ($octave * $n + $note - 1), $r, $n);
    }
  }
}
