// Base colors
$text-color: #333 !default;
$white: #ffffff !default;
$black: #000000 !default;

$color-header: #d7d6dc !default;
$color-body: #e9e9e9 !default;
$color-input: #ffffff !default;
$color-footer: #d7d6dc !default;
$tray: #d3d3d3 !default;
$toast-disabled: #dddddd !default;

$chart-base: #2ba8bb;
$increments: 10;
$chart-colors: $chart-base;

@for $i from 1 through $increments {
  $per: percentage(1/$increments);
  $chart-colors: join($chart-colors, mix(invert($chart-base), $chart-base, $per * $i)) !global;
}

$scale: (
  minor-second: 1.067,
  major-second: 1.125,
  minor-third: 1.2,
  major-third: 1.25,
  perfect-fourth: 1.333,
  augmented-fourth: 1.414,
  perfect-fifth: 1.5,
  golden-ratio: 1.618,
  octave: 2
);

// sass-lint:disable no-color-keywords
$color-wheel: (
  yellow: #f7ec1f,
  yellow-orange: #ffd108,
  orange: #faa71a,
  red-orange: #f47c20,
  red: #ee2c24,
  red-violet: #ed2490,
  violet: #7f4098,
  blue-violet: #2e429b,
  blue: #2077bd,
  blue-green: #00b2d7,
  green: #21b24b,
  yellow-green: #85c441
);

$scale: (
  minor-second: 1.067,
  major-second: 1.125,
  minor-third: 1.2,
  major-third: 1.25,
  perfect-fourth: 1.333,
  augmented-fourth: 1.414,
  perfect-fifth: 1.5,
  golden-ratio: 1.618,
  octave: 2
);

$index:
footer,
navigation,
segue,
segue-right,
trays,
origin,
header,
sidebar,
dropdowns,
trays,
toast,
tooltips,
popovers,
modals,
shortcuts,
loader !default;

$index-modals:
close;

$chart-base: #2ba8bb;
$increments: 10;
$chart-colors: $chart-base;

@for $i from 1 through $increments {
  $per: percentage(1/$increments);
  $chart-colors: join($chart-colors, mix(invert($chart-base), $chart-base, $per * $i)) !global;
}

$gutter: map-get($scale, perfect-fifth) * 1rem;

$tablet-width-sm: 768px;
$tablet-width: 1024px;
$desktop-width: 1025px;
$desktop-width-large: 1200px;

$height-header: $gutter * 3;
$height-footer: 300px;
//$width-sidebar: ;

$offset: 20px;

$offset-main: 10rem;

$vertical-padding: 4rem;
$vertical-margin:  6rem;

$heights: (
  header-tablet: $gutter * 2,
  header-mobile: 2.25rem,
  footer: 300px
);

$widths: (
  sidebar: 20rem
);

$tablet-width: 769px;
$desktop-width: 1025px;
$desktop-width-large: 1200px;
$columns: 12;

$grid: (
  col: 0,
  tablet--sm: $tablet-width-sm,
  tablet: $tablet-width,
  desktop: $desktop-width,
  desktop-lg: $desktop-width-large
);

$ionicons-font-path: '../fonts';
