body {
  &.call {
    padding-top: 0;
  }
}

.video {

  min-height: 100vh;
  min-width: 100vw;

  object, video {
    display: block;
  }

  &-local {
    transform: scaleX(-1);
    filter: FlipH;
  }

  &-main {
    object,
    video {
      max-height: 100vh;
      max-width: 100vw;
      margin-top: 0;
      width: 100%;
    }
  }

  &-placeholder {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-controls {
    transform: translate(-1rem, -1rem);
  }

  &-share {
    transform: translate(-50%, -1rem) !important; // sass-lint:disable-line no-important
  }
}
