.home {
  margin-top: 0;
  padding-top: 1rem;
}

.homeHeader {
  border-left: solid .5rem get($color-theme, graphics);
  padding-left: 1rem;
  white-space: nowrap;
  margin-right: 3rem;

  .homeHeader-img {
    @extend %dropshadow;
    display: block;
    border: solid .25rem $white;
    border-radius: 999rem;
  }
}
