.template-pages-signup {
  background-image: url('https://res.cloudinary.com/chopper/image/upload/f_auto/v1452896045/Site%20Images/hero-bg-interior_2.jpg'); // sass-lint:disable-line no-url-protocols
  background-position: center bottom;
  background-size: cover;
}
